* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "DINPro-Bold", sans-serif;
}

.main {
  /* background-color: black; */
  height: 320vh;
  width: 100vw;
}
.header {
  width: 100%;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(204, 222, 227);
  position: sticky;
  top: 0;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 15%);
}

#special {
    padding: 0;
}

.dropbtn {
    color: #8e8e8e;
    background-color: #CCDEE3;
    padding: 25px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    z-index: 1;
}
  
.dropdown-content a {
    color: #8e8e8e;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {color: #e98f44;}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80%;
  height: 85%;
}

.navbar {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi li {
  display: inline;
}

.navi a {
  text-decoration: none;
  color: #8e8e8e;
  padding: 25px;
  text-align: center;
  font-size: 35px;
}

.navi a:hover {
  color: #e98f44;
}
#love {
  color: #e98f44;
}
.backgroundimage_1 {
  height: 700px;
  width: 100%;
  background-image: url("../stay_backgroundpic-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.backgroundimage_1 h1 {
  font-size: 80px;
  line-height: 48px;
  text-align: left;
  color: #fcf7f7;
  margin-left: 290px;
  margin-bottom: 200px;
}
.backgroundimage_2 {
  height: 800px;
  width: 100%;
  background-image: url("../stay_backgroundpic-2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reso {
  width: 30%;
  height: 70%;
  /* background-color: #e98f44; */
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: #fcf7f7 5px solid;
  padding-left: 25px;
}
.reso_text {
  font-size: 35px;
  color: white;
}
.button {
  border: #fff 5px solid;
  background-color: transparent;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* transition: all .5s ease; */
  text-align: center;
  height: 100px;
  width: 330px;
  border-radius: 50px;
  /* margin-left: 0px; */
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: black;
}
.backgroundimage_3 {
  height: 800px;
  width: 100%;
  background-image: url("../stay_backgroundpic-3.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.backgroundimage_4 {
  height: 800px;
  width: 100%;
  background-image: url("../stay_backgroundpic-4.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundimage_5 {
  height: 800px;
  width: 100%;
  background-image: url("../stay_backgroundpic-5.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer{
    width: 100%;
    height: 400px;
    background-color: #74C4E4;
    color: #ffffff;
    background-color: #004A8E;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}
.footer .box{
    width: 15%;
    height: 85%;
    /* border: 2px solid red; */
    font-size: 45px;
}
.footer .box h3{
    color: #63B9DE;
    padding-bottom: 15px;
}
.footer .box ul li{
    padding-top: 10px;
    list-style: none;
}

.footer-logo{
    width: 100%;
    height: 220px;
    background-color: #004A8E;
    /* background-color: #ee8238; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img{
    width: 10%;
    height: 100%;
    margin: 0px 30px;
}